.LandingPage {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.LandingPage .div {
    background-color: #ffffff;
    height: 1700px;
    overflow: hidden;
    position: relative;
    width: 1440px;
}

.LandingPage .overlap {
    height: 1571px;
    left: -95px;
    position: absolute;
    top: -95px;
    width: 1612px;
}

.LandingPage .foodtruckdesign {
    height: 1080px;
    left: 95px;
    object-fit: cover;
    position: absolute;
    top: 491px;
    width: 1440px;
}

.LandingPage .text-wrapper {
    color: #ffffff;
    font-family: "Cabin Sketch-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 342px;
    letter-spacing: 0;
    line-height: 19.7px;
    position: absolute;
    text-align: center;
    top: 1171px;
    white-space: nowrap;
}

.LandingPage .rectangle {
    height: 536px;
    left: 95px;
    position: absolute;
    top: 95px;
    width: 1440px;
}

.LandingPage .polygon {
    height: 215px;
    left: 95px;
    position: absolute;
    top: 95px;
    width: 190px;
}

.LandingPage .rectangle-2 {
    background-color: #2C78BE;
    height: 485px;
    left: 169px;
    position: absolute;
    top: -13px;
    transform: rotate(45.7deg);
    width: 97px;
}

.LandingPage .rectangle-3 {
    background-color: #f60000;
    height: 723px;
    left: 245px;
    position: absolute;
    top: -72px;
    transform: rotate(46.49deg);
    width: 112px;
}

.LandingPage .img {
    height: 215px;
    left: 1327px;
    position: absolute;
    top: 95px;
    width: 208px;
}

.LandingPage .rectangle-4 {
    background-color: #ffffff;
    height: 485px;
    left: 1346px;
    position: absolute;
    top: -13px;
    transform: rotate(134.3deg);
    width: 97px;
}

.LandingPage .rectangle-5 {
    background-color: #f60000;
    height: 723px;
    left: 1255px;
    position: absolute;
    top: -72px;
    transform: rotate(133.51deg);
    width: 112px;
}

.LandingPage .text-wrapper-2 {
    color: #ffffff;
    font-family: "Cabin Sketch-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 343px;
    letter-spacing: 0;
    line-height: 19.7px;
    position: absolute;
    text-align: center;
    top: 1189px;
    white-space: nowrap;
}

.LandingPage .text-wrapper-3 {
    color: #ffffff;
    font-family: "Cabin Sketch-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 340px;
    letter-spacing: 0;
    line-height: 19.7px;
    position: absolute;
    text-align: center;
    top: 1207px;
    white-space: nowrap;
}

.LandingPage .overlap-group {
    background-color: var(--header);
    height: 198px;
    left: 0;
    position: absolute;
    top: 1502px;
    width: 1440px;
}

.LandingPage .frame {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 42px;
    left: 1042px;
    position: absolute;
    top: 10px;
}

.LandingPage .frame-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: relative;
}

.LandingPage .frame-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 20px;
    position: relative;
}

.LandingPage .github {
    height: 39px;
    object-fit: cover;
    position: relative;
    width: 41px;
}

.LandingPage .linkedin {
    height: 73px;
    object-fit: cover;
    position: relative;
    width: 39px;
}

.LandingPage .frame-3 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 23px;
    position: relative;
}

.LandingPage .text-wrapper-4 {
    color: #ffffff;
    font-family: "Kokoro-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 138px;
}

.LandingPage .rectangle-6 {
    height: 143px;
    left: 19px;
    object-fit: cover;
    position: absolute;
    top: 37px;
    width: 187px;
}

.LandingPage .text-wrapper-5 {
    color: #ffffff;
    font-family: "Cabin Sketch-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 210px;
    letter-spacing: 0;
    line-height: 42px;
    position: absolute;
    text-align: center;
    top: 68px;
    white-space: nowrap;
}

.LandingPage .p {
    color: #ffffff;
    font-family: "Cabin Sketch-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 210px;
    letter-spacing: 0;
    line-height: 42px;
    position: absolute;
    text-align: center;
    top: 127px;
    white-space: nowrap;
}